<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.data.home.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">
    
	{{!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"> --}}
	<link rel="icon" type="image/png" href="favicon/fav.png" sizes="32x32">
	{{!-- <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"> --}}
	<meta name="theme-color" content="#ffffff">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	{{#each htmlWebpackPlugin.files.css }}
		<link href="{{this}}" rel="stylesheet">
	{{/each}}
</head>

<body>
	<header>
		<img src="/static/img/ltc-logo-white.svg" alt="logo" class="logo" />
		<ul class="lang-list">
			<li><a href="/lt">LV</a></li>
			<li><a href="/ru">RU</a></li>
			<li><a href="/en" class="active">EN</a></li>
		</ul>
	</header>
	<main>
		<div class="main-section">
			<div class="product-promo">
				<div class="product_info">
					<img src="/static/img/_ad-logo.svg" class="product-logo" alt="product-logo" />
					<h1>
						The most intelligent flying camera that follows you in action, anywhere
					</h1>
					<a href="#" class="link">Find out more</a>
				</div>
				<div class="product_pre-order">
					<div class="product-price">
						<span class="price">1599<sup>00</sup> €</span>
					</div>
					<a href="#order" class="btn btn__pre-order">PRE-ORDER NOW</a>
				</div>
			</div>
			<div class="video-bg">
				<video autoplay muted loop>
					<source src="bg-video.mp4" type="video/mp4">
				</video>

				<div class="img_bg" style="background: url('/static/img/ADII_Wake_04832-2x.jpg')"></div>
			</div>
		</div>
		<div class="promo-section__img">
			<img src="/static/img/ADII_3QRTRFront_Top-2x.png" />
		</div>
		<div class="info-section">
			<div class="info-section_item">
				<div class="text left">
					<h3>ALL-TERRAIN READY</h3>
					<p>Built-in LiDAR (distance sensor) preventing ground collision in varying terrain and extreme changes in elevation at high speeds.</p>
				</div>
				<div class="img_wrapper">
					<img src="/static/img/back-2x.jpg" alt="" />
				</div>
			</div>
			<div class="info-section_item">
				<div class="img_wrapper left">
					<img src="/static/img/ADII_FixGear_03359-2x.jpg" alt="" />
				</div>
				<div class="text right">
					<h3>MOTION GPS TRACKER</h3>
					<p>Rather than a remote control with joysticks and large display screens, the ADII is controlled with AirLeash. </p>
				</div>
			</div>
		</div>
		<div class="promo-section">
			<img src="/static/img/ADII_Front_Top-2x.png" />
			<div class="promo-text_wrapper">
				<h3>ENHANCED GIMBAL SYSTEM</h3>
				<p>Highly advanced video stabilization system/gimbal provides smooth, professional grade footage when operating in extreme weather conditions.</p>
			</div>
		</div>
		<div class="info-section">
			<div class="info-section_item">
				<div class="text left">
					<h3>CUSTOMIZABLE FLIGHT PATHS</h3>
					<p>User-programmed custom “Follow Mode” delivers ultimate control over desired creative aspects providing levels of safety in extreme areas.</p>
				</div>
				<div class="img_wrapper">
					<img src="/static/img/ADII_Wake_04832-2x.jpg" alt="" />
				</div>
			</div>
			<div class="info-section_item">
				<div class="img_wrapper left">
					<img src="/static/img/ADII_Hiking_00529-2x.jpg" alt="" />
				</div>
				<div class="text right">
					<h3>SCENIC CAPTURE MODES</h3>
					<p>Scenic modes allow you to capture the amazing world around you, of course, hands-free and in perfect frame, every time.</p>
				</div>
			</div>
		</div>
		<div class="order-section" id='order'>
			<div class="product-description">
				<div class="product-img">
					<img src="/static/img/product-with-logo-2x.png" alt="product-with-logo">
				</div>
				<ul class="specifications-list">
					<li>Product size: L: 36cm / W: 20cm / H:14cm </li>
					<li>Weight: 2,1 kg</li>
					<li>Flight time: 12 - 18 min.</li>
					<li>AirLeash: W: 7.6cm L: 6 cm H: 2.1 cm Battery: 3,7 V 450mAh</li>
					<li>Compability: GoPro HERO5 Black</li>
				</ul>
			</div>
			<div class="form_wrapper">
				<div class="product-price">
					<span class="price">1599<sup>00</sup> €</span>
				</div>
				<form action="/" method="post">
					<input type="text" name="name" placeholder="Name, Surname" />
					<div class="error-masagge">Please specify your name</div>
					<input type="email" name="email"  placeholder="E-mail" />
					<div class="error-masagge">Please enter a valid email address</div>
					<input type="tel" name="phone"  placeholder="Phone" />
					<div class="error-masagge">Please enter a valid phone number</div>
					<select name="country" class="js-example-disabled-results">
						<option></option>
						<option value="Latvija">Latvija</option>
						<option value="Estonia">Estonia</option>
						<option value="Lithuania">Lithuania</option>
					</select>
					<div class="error-masagge select">Please choose your country</div>
					<button class="btn js-submit-btn" type="submit">PRE-ORDER NOW</button>
				</form>
			</div>
		</div>
	</main>
	<div class="pop-up">
		<div class="pop-up__i">
			<h3>PRE-ORDER SUCCESSFUL!</h3>
			<p>We will get in touch with you as soon as the item is available.</p>
			<div href="#" class="btn js-btn-continue">CONTINUE</div>
		</div>
	</div>
	<footer>
		<img src="/static/img/ltc-logo-white.svg" alt="logo" class="logo" />
		<div class="copyright">
			© SIA Lattelecom 2017 <br />
			Dzirnavu 105, Rīga, LV-1011, Latvija
		</div>
	</footer>
	{{!-- Example --}}
	{{!-- {{> footer htmlWebpackPlugin.options.data.home}} --}}
	{{#each htmlWebpackPlugin.files.js }}
	<script type="text/javascript" src="{{this}}"></script>
	{{/each}}
</body>
</html>

