html, body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: $gray;
}

h1 {
	font-family: $font;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 43px;
	letter-spacing: 0.8px;
	padding-bottom: 11px;
	@include respond-to(mobile) {
		font-size: 20px;
		line-height: 28px;
	}	
	@include respond-to(mobile-small) {
		font-size: 20px;
		line-height: 28px;
	}	
}

h3 {
	font-family: $font;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 0.8px;
	color: $cod_gray;
	padding-bottom: 15px;
	@include respond-to(tablet){
		font-size: 24px;
		line-height: 33px;
	}
	@include respond-to(mobile) {
		font-size: 20px;
		line-height: 26px;
	}	
	@include respond-to(mobile-small) {
		font-size: 20px;
		line-height: 26px;
	}	
}

p {
	font-family: $font;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: $dusty_gray;
	@include respond-to(tablet){
		font-size: 20px;
		line-height: 32px;
	}
	@include respond-to(mobile) {
		font-size: 16px;
		line-height: 24px;
	}	
	@include respond-to(mobile-small) {
		font-size: 16px;
		line-height: 24px;
	}	
}

a {
	font-family: $font;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.btn {
	width: 280px;
	height: 65px;
	line-height: 65px;
    text-align: center;
	background-color: $coral;
	color: white;
	cursor: pointer;
	transition: 0.3s;
	display: block;
	&:hover {
		background-color: #e04e37; 
	}
	@include respond-to(mobile-small) {
		width: 284px;
	}
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 47px 92px 0;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	box-sizing: border-box;
	@include respond-to(mobile-small) {
		padding: 22px 17px 0;
	}
	.lang-list {
		li {
			display: inline-block;
			padding-left: 18px;
		}
	}
	a {
		color: white;
		&:hover {
			opacity: 0.5;
		}
		&.active {
			opacity: 0.5;
		}
	}
}

.logo {
	display: block;
	width: 210px; 
	height: 33px; 
	@include respond-to(mobile) {
		width: 127px; 
		height: 20px;
	}	
	@include respond-to(mobile-small) {
		width: 127px; 
		height: 20px;
	}	
}

.main-section {
	position: relative;
	height: 510px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		background-color: rgba(206, 197, 197, 0.2);
		height: 100%;
		width: 100%;
	}
	.product-promo {
		position: relative;
		top: 168px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 285px 0 196px;
		color: white;
		z-index: 1;
		@include respond-to(desktop){
			padding: 0 155px 0 146px;
		}
		@include respond-to(desktop-small){
			padding: 0 125px;
		}
		@include respond-to(tablet){
			padding: 0 125px;
		}	
		@include respond-to(mobile) {
			flex-direction: column;
			padding: 0 92px;
			top: 100px;
		}	
		@include respond-to(mobile-small) {
			flex-direction: column;
			padding: 0 17px;
			top: 70px;
		}	
		.product-logo {
			width: 182px;
			height: 80px;
		}
		.product_info {
			max-width: 566px;
			@include respond-to(mobile) {
				max-width: 100%;
			}	
			@include respond-to(mobile-small) {
				max-width: 100%;
			}	
			img {
				padding-bottom: 33px;
			}
		}
	}
	a {
		color: white;
	}
}

.product-price {
	padding-top: 64px;
	min-width: 296px;
	@include respond-to(mobile){
		padding-top: 34px;
	}
	@include respond-to(mobile-small) {
		padding-top: 24px;
	}
	span {
		&.price{
			font-family: $font;
			font-style: normal;
			font-weight: 400;
			font-size: 72px;
			line-height: 95px;
			sup {
				font-family: $font;
				font-style: normal;
				font-weight: 400;
				font-size: 42px;
				line-height: 55px;
				position: relative;
				left: 4px;
				top: 4px;
			}
		}
		&.price_sub-text {
			position: relative;
			left: -43px;
		}
	}
}

.video-bg {
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: -1;
	width: 100%;
	min-height: 510px;
	video{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		@include respond-to(tablet){
			display: none;
		}
		@include respond-to(mobile){
			display: none;
		}
		@include respond-to(mobile-small){
			display: none;
		}
	}
	.img_bg {
		display: none;
		@include respond-to(tablet){
			display: block;
			height: 510px;
			background-size: cover;
			background-position: center center;  
			z-index: -1;
		}
		@include respond-to(mobile){
			display: block;
			height: 510px;
			background-size: cover;
			background-position: center center;  
			z-index: -1;
		}
		@include respond-to(mobile-small){
			display: block;
			height: 510px;
			background-size: cover;
			background-position: center center;  
			z-index: -1;
		}
	}
}

.promo-section {
	text-align: center;
	padding: 103px 0 196px;
	@include respond-to(mobile) {
		padding: 47px 0 45px;
	}	
	@include respond-to(mobile-small) {
		padding: 47px 0 45px;
	}	
	img {
		max-width: 911px;
		@include respond-to(mobile) {
			max-width: 100%;
		}	
		@include respond-to(mobile-small) {
			max-width: 100%;
		}	
	}
	.promo-text_wrapper{
		max-width: 550px;
		margin: 8px auto 0;
	}
	&__img{
		text-align: center;
		padding: 83px 7px 145px 0;
		@include respond-to(mobile) {
			padding: 40px 0;
		}	
		@include respond-to(mobile-small) {
			padding: 40px 0;
		}	
		img {
			max-width: 883px;
			@include respond-to(mobile) {
				max-width: 100%;
			}	
			@include respond-to(mobile-small) {
				max-width: 100%;
			}	
		}
	}
}

.info-section {
	.info-section_item{
		display: flex;
		flex-direction: row;
		@include respond-to(mobile) {
			flex-direction: column-reverse;
			&:nth-child(even) {
				flex-direction: column;
			}
		}
		@include respond-to(mobile-small) {
			flex-direction: column-reverse;
			&:nth-child(even) {
				flex-direction: column;
			}
		}	
		.text {
			width: 50%;
			background-color: white; 
			padding: 156px 190px 0 120px;
			box-sizing: border-box;
			@include respond-to(desktop){
				padding: 106px 140px 0 120px;
			}
			@include respond-to(desktop-small){
				padding: 86px 80px 0 80px;
			}
			@include respond-to(tablet){
				padding: 70px 80px 0 70px;
			}
			@include respond-to(mobile) {
				width: 100%;
				padding: 40px;
				text-align: center;
			}
			@include respond-to(mobile-small) {
				width: 100%;
				padding: 24px 12px 34px;
				text-align: center;
			}	
			&.left {
				padding: 138px 125px 0 196px;
				@include respond-to(desktop){
					padding: 106px 125px 0 146px;
				}
				@include respond-to(desktop-small){
					padding: 86px 85px 0 106px;
				}
				@include respond-to(tablet){
					padding: 70px 70px 0 80px;
				}
				@include respond-to(mobile) {
					width: 100%;
					padding: 40px;
					text-align: center;
				}
				@include respond-to(mobile-small) {
					width: 100%;
					padding: 24px 12px 34px;
					text-align: center;
				}	
			}
		}
		.img_wrapper {
			width: 50%;
			@include respond-to(desktop-small){
				min-height: 400px;
				height: auto;
				position: relative;
				overflow: hidden;
			}
			@include respond-to(mobile) {
				width: 100%;
			}
			@include respond-to(mobile-small) {
				width: 100%;
			}	
			img {
				display: block;
				width: 100%;
				@include respond-to(desktop-small){
					width: auto;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.left {
			position: relative;
			top: -80px;
			@include respond-to(mobile) {
				position: static;
			}	
			@include respond-to(mobile-small) {
				position: static;
			}	
		}
	}
}

.order-section {
	padding: 33px 195px 103px 92px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@include respond-to(desktop){
		padding: 33px 125px 103px 92px;
	}
	@include respond-to(desktop-small){
		padding: 33px 95px 103px 92px;
	}
	@include respond-to(tablet){
		flex-direction: column;
		padding: 33px 55px 103px 52px;
	}
	@include respond-to(mobile) {
		padding: 33px 12px 103px;
	}	
	@include respond-to(mobile-small) {
		padding: 33px 12px 103px;
	}	
	.product-description{
		@include respond-to(tablet){
			max-width: 500px;
			margin: 0 auto;
		}
		@include respond-to(mobile){
			max-width: 100%;
			margin: 0 auto;
		}
		.product-img {
			img {
				max-width: 554px;
				padding-bottom: 45px;
				@include respond-to(tablet){
					max-width: 500px;
				}	
				@include respond-to(mobile) {
					max-width: 100%;
				}	
				@include respond-to(mobile-small) {
					max-width: 100%;
					overflow: hidden;
				}	
			}
		}
		.specifications-list {
			font-family: $font;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: $dusty_gray;
		}
	}
	.form_wrapper {
		width: 385px;
		@include respond-to(tablet){
			width: 355px;
			margin: 0 auto;
		}
		@include respond-to(mobile) {
			width: 355px;
			margin: 0 auto;
		}		
		@include respond-to(mobile-small) {
			width: 300px;
			margin: 0 auto;
		}	
		.product-price {
			padding: 23px 0 33px;
			.price {
				color: $coral;
			}
			.price_sub-text {
				color: $dusty_gray;				
				b {
					font-weight: 400;
					color: $coral;
				}
			}
		}
		input, select {
			display: block;
			// width: 100%;
			border-bottom: 1px solid #CBCBCB;
			background-color: transparent;
			color: $dusty_gray;	
			line-height: 34px;
			margin-bottom: 45px;
			width: 385px;
			height: 34px;
			@include respond-to(tablet){
				width: 355px;
			}
			@include respond-to(mobile) {
				width: 355px;
			}		
			@include respond-to(mobile-small) {
				width: 300px;
			}	
			&.error{
				border-bottom: 1px solid $coral;
				&::placeholder {
					color:$coral;
					line-height: 34px;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color:$coral;
					line-height: 34px;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color:$coral;
					line-height: 34px;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color:$coral;
					line-height: 34px;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color:$coral;
					line-height: 34px;
				}	
			}
			&::placeholder {
				color:$dusty_gray;
				line-height: 34px;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color:$dusty_gray;
				line-height: 34px;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color:$dusty_gray;
				line-height: 34px;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color:$dusty_gray;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color:$dusty_gray;
				line-height: 34px;
			}		
			&:focus {
				&::placeholder {
					opacity: 0
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					opacity: 0
				}
				&::-moz-placeholder { /* Firefox 19+ */
					opacity: 0
				}
				&:-ms-input-placeholder { /* IE 10+ */
					opacity: 0
				}
				&:-moz-placeholder { /* Firefox 18- */
					opacity: 0
				}		
			}
		}
		button[type='submit'] {
			margin-top: 40px;
			@include respond-to(tablet) {
				display: block;
				margin: 40px auto 0; 
			}	
			@include respond-to(mobile) {
				display: block;
				margin: 40px auto 0; 
			}	
			@include respond-to(mobile-small) {
				display: block;
				margin: 40px auto 0; 
			}	
		}
		.error-masagge {
			font-family: $font;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: $coral;
			margin-top: -45px;
			padding-bottom: 25px;
			display: none;
			&.show {
				display: block;
			}
			&.select{
				margin: 0;
			}
		}
		.select2-container--default .select2-selection--single{
			&.error{
				border-bottom: 1px solid $coral;
			}
		}
	}
}

.pop-up {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
	overflow: hidden;
	display: none;
	&__i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		max-width: 385px;
		p {
			padding-bottom: 40px;
		}
		.btn {
			margin: 0 auto;
		}
	}
	&.show {
		display: block;
	}
}

footer {
	position: relative;
	height: 110px;
	background-color: $diesel;
	color: #707070;
	@include respond-to(mobile){
		height: 184px;
		position: static;
		padding: 50px 0 15px;
		box-sizing: border-box;
	}
	@include respond-to(mobile-small){
		height: 184px;
		position: static;
		padding: 50px 0  15px;
		box-sizing: border-box;
	}
	img {
		position: absolute;
		top: 39px;
		left: 92px;
		@include respond-to(mobile){
			display: block;
			position: static;
			margin: 0 auto;
		}
		@include respond-to(mobile-small){
			display: block;
			position: static;
			margin: 0 auto;
		}
	}
	.logo {
		width: 210px; 
		height: 33px; 
		@include respond-to(mobile){
			padding-bottom: 25px;
		}
		@include respond-to(mobile-small){
			padding-bottom: 25px;
		}
	}
	.copyright {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) translateZ(0);
		text-align: center;
		font-family: $font;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		@include respond-to(mobile){
			transform: none;
			position: static;
		}
		@include respond-to(mobile-small){
			transform: none;
			position: static;
		}
	}
}

.select2-results .select2-results__options li{
	border-bottom: 1px solid #CBCBCB;
}

// .select2-results__options li:first-child{
// 	display: none;
// 	// background: #000;
// }