html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; }
a { margin: 0; padding: 0; vertical-align: baseline; background: transparent; text-decoration: none; color: #666; backface-visibility: hidden; }
table { border-collapse: collapse; border-spacing: 0; }
td, td img { vertical-align: top; }
input, select, button, textarea { margin: 0; font-size: 100%; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
input::-ms-clear { display: none; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
li { list-style: none; }

/* --------------------------------------------- /reset.css ---------------------------------------------- */

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

input, select, button, option, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
  border: 0;
  &:focus, &:active{
    outline:none;
    border:none;
    box-shadow:none;
  }
}